* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    line-height: 50px;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background-color: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

/* Comon */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/*======== Header ========== */

.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
    /* margin-left: 732px; */
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5853;
}

.nav li.active a,
a:hover {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up {
    min-width: 144px;
}

/* Hero */

.hero {
    padding-top: 56px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}
/*Hero left*/
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px 24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #eae7eb;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .lable {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* hero nigh */

.hero .content-block {
    width: 52%;
    padding: 0px 0 0px 130px;
}

.hero .heading {
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.content-block .desc {
    margin-top: 22px;
    /* margin: 22px 0; */
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    color: #5f5853;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .wacth-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
}

.hero .wacth-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.hero .wacth-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    cursor: pointer;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* Couser */

.couser {
    margin: 200px 0 200px 0;
}

.couser .body {
    display: flex;
}

.couser .card {
    margin-right: 30px;
    min-width: 370px;
}

.couser .card .image-job {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.couser .info-job {
    margin: 0 22px 0 22px;
}

.couser .job-title {
    display: flex;
    align-items: center;
}

.couser .job-title h3 {
    margin-right: 119px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    color: #171100;
}

.couser .job-title span {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    color: #fea31b;
}

.couser .info {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    color: #5f5b53;
}

.couser .price-book .book-1 {
    background-color: var(--primary-color);
}

.couser .price {
    margin-right: 141px;
}

.couser .book:hover {
    cursor: pointer;
}

/*     Testimonial     */

.testimonial {
    padding: 96px 0 96px 0;
    background: #2e2100;
}

.testimonial .body {
    display: flex;
    overflow: hidden;
}

.testimonial .feelback {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.testimonial .author {
    margin-right: 241px;
}

.testimonial .author .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .name {
    margin-bottom: 0px;
    margin-top: 8px;
    min-width: 159px;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px;
    color: #f7f7f7;
}

.testimonial .describe {
    min-width: 159px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    color: #bfbcb2;
}

.testimonial .dots {
    display: flex;
    margin-top: 28px;
}

.testimonial .dots .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.testimonial .dots .dot .active {
    background: #ffb900;
}

.testimonial .massage .desc {
    margin-top: 0;
    margin-left: 30px;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
    color: #ffffff;
}

/* Features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .image {
    display: flex;
    gap: 0 30px;
}

.features .image img {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.features .image .job {
    margin-top: 34px;
}

.features .comment {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .title {
    margin-bottom: 0;
    font-family: var(--font-heading);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 48px;
    color: #171100;
}

.features .desc {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    color: #5f5853;
}

.features .comment .sign {
    margin-top: 32px;
    min-width: 137px;
    color: #ffffff;
    background: var(--primary-color);
}

/* Features 2*/

.features2 {
    margin-top: 200px;
}

.features2 .body {
    display: flex;
    justify-content: space-between;
}

.features2 .comment {
    width: 49%;
}

.features2 .comment .title {
    margin-top: 71px;
    margin-bottom: 0;
    font-family: var(--font-heading);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 48px;
    color: #171100;
}

.features2 .comment .desc {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    color: #5f5853;
}

.features2 .join {
    margin-top: 32px;
    min-width: 137px;
    color: #ffffff;
    background: var(--primary-color);
}

.features2 .image img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

/* Blog */

.Blog {
    margin-top: 200px;
    padding: 96px 0;
    background-color: #fffcf4;
}

.Blog .Our-blog {
    text-align: center;
}

.Blog .Our-blog.title{
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px;
    color: #130606;
}

.Blog .Our-blog .desc {
    margin: 16px auto auto;
    width: 448px;
    margin-top: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    color: #696262;
}

.Blog .blog-designer{
    margin-top: 55px;
    display: flex;
}

.Blog .blog-designer .image{
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px, 16px, 0px, 0px'
}

.Blog .blog-designer .time {
    margin-left: 20px;
    margin-top: 20px;
}

.Blog .blog-designer .icon {
    margin-right: 4px ;
}

.Blog .blog-designer span{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    color: #5f5853
}

.Blog .blog-designer .desc{
    min-width: 330px;
    margin-bottom: 0;
    padding: 0 20px 0 20px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
    color: #171100
}

.Blog .card{
    flex-shrink: 0;
    width: 370px;
    height: 467px;
    margin: 0 30px 0 0;
    background:#FFFFFF;
}

.Blog .card .read {
    margin-top: 13px;
    margin-left: 20px;
    color: #ffffff;
}

.Blog .card .readmore {
    margin-top: 13px;
    margin-left: 20px;
    color: #ffffff;
    background: var(--primary-color);
}

.Blog .card .time .date {
    position: relative;
}

.Blog .card .time .date::after {
    margin-top: 12px;
    position: absolute;
    content: "";
    left: 0;
    bottom: -12px;
    display: inline-block;
    width: 160px;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.Blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}

.Blog .dots .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.Blog .dot.active{
    cursor: default;
    background: var(--primary-color);
}



/* Footer */
.footer {
    padding: 96px 135px 0;
    background: #2e2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21.6%;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554b;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer .list {
    padding-left: 0;
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    font-weight: 600;
    color: #ffffff;
}

.footer .copyright {
    padding: 28px 0;
}

.footer .copyright p {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}

