* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    line-height: 50px;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background-color: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

/* Comon */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/*======== Header ========== */

.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
    /* margin-left: 732px; */
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5853;
}

.nav li.active a,
a:hover {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up {
    min-width: 144px;
}

/* Hero */

.hero {
    padding-top: 56px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}
/*Hero left*/
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px 24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #eae7eb;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .lable {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* hero nigh */

.hero .content-block {
    width: 52%;
    padding: 0px 0 0px 130px;
}

.hero .heading {
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.content-block .desc {
    margin-top: 22px;
    /* margin: 22px 0; */
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    color: #5f5853;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .wacth-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
}

.hero .wacth-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.hero .wacth-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    cursor: pointer;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.couser {
    margin-top: 200px;
}

.couser .body {
    display: flex;
}

.couser .card {
    min-width: 370px;
}

.couser .card .image-job {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
